# Node.js dependencies
/node_modules/

# Build outputs y archivos generados
/public/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Configuración de entornos de desarrollo (IDEs)
.vscode/
.idea/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Otros
